# Настройки npm для ускорения установки

# Ускорение загрузки Puppeteer
puppeteer_skip_chromium_download=false
puppeteer_download_host=https://storage.googleapis.com

# Логирование
loglevel=warn

# Кэширование
prefer-offline=true

